ADMIN_USERNAME=admin
ADMIN_PASSWORD="{{ op://Homelab/ProxmoxAdmin/password }}"
ADMIN_SSH_PUBLIC_KEY="{{ op://Homelab/ProxmoxAdmin/public key}}"
ADMIN_PROXMOX_USER=admin@pam
ADMIN_PROXMOX_ROLE=Administrator

SERVICE_PROXMOX_USER=service@pve
SERVICE_PROXMOX_ROLE=PVEAdmin
SERVICE_TOKEN_NAME=bootstrap
SERVICE_TOKEN_OUTPUT_PATH=/var/lib/homelab-bootstrap/service-token.json
